[submodule "Pyre/external/spdlog"]
	path = Pyre/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyre/external/glfw"]
	path = Pyre/external/glfw
	url = https://github.com/glfw/glfw
[submodule "Pyre/external/glad"]
	path = Pyre/external/glad
	url = https://github.com/Dav1dde/glad
[submodule "Pyre/external/imgui"]
	path = Pyre/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "Pyre/external/glm"]
	path = Pyre/external/glm
	url = https://github.com/g-truc/glm
