[submodule "Pyre/external/spdlog"]
	path = Pyre/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyre/external/glfw"]
	path = Pyre/external/glfw
	url = https://github.com/glfw/glfw
